<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Marcador | Acesso</title>
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport" />
<!-- Bootstrap 3.3.6 -->
<link rel="stylesheet"
	th:href="@{/layout/plugins/bootstrap/css/bootstrap.min.css}">
<!-- Font Awesome -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" th:href="@{/layout/stylesheets/AdminLTE.min.css}">
<!-- iCheck -->
<link rel="stylesheet"
	th:href="@{/layout/plugins/iCheck/square/blue.css}">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition login-page">
	<div class="login-box">
		<div class="login-logo">
			<a th:href="@{/resumo}"><img th:src="@{/layout/images/logo_light.svg}" height="100px" style="margin-top: -40px; margin-bottom: 20px;" /><br /><strong>Painel Administrativo</strong></a>
		</div>
		<!-- /.login-logo -->
		<div class="login-box-body">
			<p class="login-box-msg">Olá, administrador! Informe seu e-mail e senha para iniciar uma nova sessão.</p>

			<!-- error messages -->
			<div class="alert alert-danger alert-dismissible" role="alert"
				th:if="${param[error] != null}">
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Fechar">
					<span aria-hidden="true">&times;</span>
				</button>
				<i class="fa fa-exclamation-circle"></i> <span>Nome de
					usuário ou senha inválido(s).</span>
			</div>
			<!-- ./error-messages -->

			<form th:action="@{/login}" method="post">
				<!-- <input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" /> -->
				<div class="form-group has-feedback">
					<input type="email" class="form-control" placeholder="Email"
						name="email" /> <span
						class="glyphicon glyphicon-envelope form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback">
					<input type="password" class="form-control" placeholder="Senha"
						name="password" /> <span
						class="glyphicon glyphicon-lock form-control-feedback"></span>
				</div>
				<div class="row">
					<div class="col-xs-4">
						<button type="submit" class="btn btn-primary btn-block btn-flat">Entrar</button>
					</div>
					<!-- /.col -->
				</div>
			</form>
			<!-- /.social-auth-links -->

			<!-- 			<a href="#">I forgot my password</a><br /> <a href="register.html}" -->
			<!-- 				class="text-center">Register a new membership</a> -->

		</div>
		<!-- /.login-box-body -->
	</div>
	<!-- /.login-box -->

	<!-- jQuery 2.2.3 -->
	<script th:src="@{/layout/plugins/jQuery/jquery-2.2.3.min.js}"></script>
	<!-- Bootstrap 3.3.6 -->
	<script th:src="@{/layout/plugins/bootstrap/js/bootstrap.min.js}"></script>
	<!-- iCheck -->
	<script th:src="@{/layout/plugins/iCheck/icheck.min.js}"></script>
	<script>
		$(function() {
			$('input').iCheck({
				checkboxClass : 'icheckbox_square-blue',
				radioClass : 'iradio_square-blue',
				increaseArea : '20%' // optional
			});
		});
	</script>
</body>
</html>
