<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<meta charset="utf-8" />
<meta name="_context_path" th:content="@{/}" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="author" content="Inovebis - Leandro Luque">
<meta name="description"
	content="Portal de Marcação de Frutos">
<meta name="keywords" content="Marcador de Frutos">
<title>Marcador de Frutos - Painel Administrativo</title>
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport" />
<!-- Bootstrap 3.3.6 -->
<link rel="stylesheet"
	th:href="@{/layout/plugins/bootstrap/css/bootstrap.min.css}" />
<!-- Font Awesome -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" />
<!-- Ionicons -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" />
<!-- Theme style -->
<link rel="stylesheet" th:href="@{/layout/stylesheets/AdminLTE.min.css}" />
<!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet"
	th:href="@{/layout/stylesheets/skins/_all-skins.min.css}" />

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
<th:block layout:fragment="pre-script">
</th:block>
<!-- ./pre-script -->
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<header class="main-header">
			<!-- Logo -->
			<a th:href="@{/galeria}" class="logo"> <!-- mini logo for sidebar mini 50x50 pixels -->
				<span class="logo-mini"><b>Marcador</b></span> <!-- logo for regular state and mobile devices -->
				<span class="logo-lg">Painel Administrativo</span>
			</a>
			<!-- Header Navbar: style can be found in header.less -->
			<nav class="navbar navbar-static-top">
				<!-- Sidebar toggle button-->
				<a href="#" class="sidebar-toggle" data-toggle="offcanvas"
					role="button"> <span class="sr-only">Alternar navegação</span>
				</a>

				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						<!-- Messages: style can be found in dropdown.less-->
						<!-- Notifications: style can be found in dropdown.less -->
						<!-- Tasks: style can be found in dropdown.less -->
						<!-- User Account: style can be found in dropdown.less -->
						<li class="dropdown user user-menu"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown"> <img
								th:src="@{/layout/images/avatar5.png}" class="user-image"
								alt="User Image" /> <span class="hidden-xs"
								sec:authentication="principal.fullName"></span>
						</a>
							<ul class="dropdown-menu">
								<!-- User image -->
								<li class="user-header"><img
									th:src="@{/layout/images/avatar5.png}" class="img-circle"
									alt="User Image" />

									<div sec:authentication="principal.fullName"></div> <small>Membro
										desde <span sec:authentication="principal.memberSince"></span>
								</small></li>
								<!-- Menu Footer-->
								<li class="user-footer">
									<div class="pull-right">
										<a th:href="@{/login?logout}" class="btn btn-default btn-flat">Sair</a>
									</div>
								</li>
							</ul></li>
						<!-- Control Sidebar Toggle Button -->
						<li><a href="#" data-toggle="control-sidebar"><i
								class="fa fa-gears"></i></a></li>
					</ul>
				</div>
			</nav>
		</header>
		<!-- Left side column. contains the logo and sidebar -->
		<aside class="main-sidebar">
			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">
				<!-- Sidebar user panel -->
				<div class="user-panel">
					<div class="pull-left image">
						<img th:src="@{/layout/images/avatar5.png}" class="img-circle"
							alt="User Image" />
					</div>
					<div class="pull-left info">
						<p sec:authentication="principal.fullName"></p>
						<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
					</div>
				</div>
				<!-- sidebar menu: : style can be found in sidebar.less -->
				<ul class="sidebar-menu">
					<li class="header">MENU PRINCIPAL</li>
					<li class="treeview"><a th:href="@{/galeria}"> <i
							class="fa fa-photo"></i> <span>Galeria de Imagens</span></a></li>
				</ul>
			</section>
			<!-- /.sidebar -->
		</aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper" layout:fragment="content"></div>
		<!-- /.content-wrapper -->
		<footer class="main-footer">
			<div class="pull-right hidden-xs">
				<b>Versão</b> 1.0.0
			</div>
			<strong>Copyright &copy; 2020 <a
				href="http://www.leandroluque.com">Leandro Luque</a>.
			</strong> Todos os direitos reservados.
			</th:block>

			<!-- Control Sidebar -->
			<aside class="control-sidebar control-sidebar-dark">
				<!-- Create the tabs -->
				<ul class="nav nav-tabs nav-justified control-sidebar-tabs">
				</ul>
				<!-- Tab panes -->
				<div class="tab-content">
					<!-- Home tab content -->
					<div class="tab-pane" id="control-sidebar-home-tab"></div>
					<!-- /.tab-pane -->
					<!-- Stats tab content -->
					<div class="tab-pane" id="control-sidebar-stats-tab"></div>
					<!-- /.tab-pane -->
					<!-- Settings tab content -->
					<div class="tab-pane" id="control-sidebar-settings-tab"></div>
					<!-- /.tab-pane -->
				</div>
			</aside>
			<!-- /.control-sidebar -->
			<!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
			<div class="control-sidebar-bg"></div>
	</div>
	<!-- ./wrapper -->

	<!-- jQuery 2.2.3 -->
	<script th:src="@{/layout/plugins/jQuery/jquery-2.2.3.min.js}"></script>
	<!-- jQuery UI 1.11.4 -->
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
	<script>
		$.widget.bridge('uibutton', $.ui.button);
	</script>
	<!-- Bootstrap -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- FastClick -->
	<script th:src="@{/layout/plugins/fastclick/fastclick.js}"></script>
	<!-- SlimScroll -->
	<script th:src="@{/layout/plugins/slimScroll/jquery.slimscroll.min.js}"></script>
	<!-- AdminLTE App -->
	<script th:src="@{/layout/javascripts/app.min.js}"></script>
	<!-- Layout Options -->
	<script th:src="@{/layout/javascripts/layout-options.js}"></script>
	<!-- Page scripts -->
	<script>
		$(function() {
			var token = $("meta[name='_csrf']").attr("content");
			$.ajaxSetup({
				beforeSend : function(xhr) {
					xhr.setRequestHeader('X-CSRF-TOKEN', token);
				}
			});
		});
	</script>
	<th:block layout:fragment="script"></th:block>
</body>
</html>
