@CHARSET "ISO-8859-1";

.file-upload {
	padding: 15px;
	border: 1px dashed #ddd;
	border-radius: 4px;
	background: #fafafa;
	text-align: center;
	padding: 15px;
}

.file-upload-form-file {
	margin: 1em 0 1.2em 0;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	overflow: hidden;
}

.file-upload-form-file>input[type=file] {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	opacity: 0;
	cursor: pointer;
	font-size: 500px;
}