@CHARSET "ISO-8859-1";
th.center {
	text-align: center;
}

.table-button {
	margin-top: 2em;
}
/*
 * media-gallery.
 */
.col-md-thumb {
	width: 50%;
	margin-bottom: 10px;
}

@media ( min-width : 768px) {
	.col-md-thumb {
		width: 20%;
	}
}

@media ( min-width : 992px) {
	.col-md-thumb {
		width: 20%;
	}
}

@media ( min-width : 1200px) {
	.col-md-thumb {
		width: 20%;
	}
}

.thumbnail .image {
	height: 120px;
	overflow: hidden
}

.caption {
	padding: 9px 5px;
	background: #F7F7F7
}

.caption p {
	margin-bottom: 5px
}

.thumbnail {
	height: 190px;
	overflow: hidden
}
.view {
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default
}
.view .mask,
.view .content {
    position: absolute;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view .tools {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 3px;
    background: rgba(0, 0, 0, 0.35);
    margin: 25px 0 0 0
}
.mask.no-caption .tools {
    margin: 90px 0 0 0
}
.view .tools a {
    display: inline-block;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    padding: 0 4px
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view-first img {
    transition: all 0.2s linear
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.4s ease-in-out
}
.view-first .tools {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out
}
.view-first p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear
}
.view-first:hover img {
    transform: scale(1.1)
}
.view-first:hover .mask {
    opacity: 1
}
.view-first:hover .tools,
.view-first:hover p {
    opacity: 1;
    transform: translateY(0px)
}
.view-first:hover p {
    transition-delay: 0.1s
}
/*
 * ./media-gallery.
 */
.neutral-image {
	border: 3px solid gray !important;
}
.reviewed-image {
	border: 3px solid yellow !important;
}
.review-image {
	border: 3px solid red !important;
}
.validated-image {
    border: 3px solid green !important;	
}