<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default-layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Galeria de Imagens</title>
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
<link rel="stylesheet" th:href="@{/layout/stylesheets/luque.css}" />
<link rel="stylesheet" th:href="@{/layout/stylesheets/fileUpload.css}" />
<link rel="stylesheet"
	th:href="@{/layout/plugins/uikit/css/upload.min.css}" />
<link rel="stylesheet"
	th:href="@{/layout/plugins/uikit/css/progress.min.css}" />
</head>
<body>
	<!-- Content Wrapper. Contains page content -->
	<div layout:fragment="content">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>
				Galeria de Imagens <small>LISTAGEM</small>
			</h1>
			<ol class="breadcrumb">
				<li><i class="fa fa-home"></i> Principal</li>
				<li class="active">Galeria de Imagens</li>
			</ol>
			<a href="#" data-toggle="modal" data-target="#uploadModal"
				class="btn btn-success table-button" tabindex="1"> <i
				class="fa fa-plus-circle"></i> Nova Imagem
			</a>
		</section>
		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-xs-12">
					<div class="box">
						<div class="box-header">
							<!-- success message -->
							<div class="alert alert-success alert-dismissible" role="alert"
								th:if="${not #strings.isEmpty(message)}">
								<button type="button" class="close" data-dismiss="alert"
									aria-label="Fechar">
									<span aria-hidden="true">&times;</span>
								</button>
								<span th:text="${message}"></span>
							</div>
							<!-- ./success message -->
							<!-- general-error-message -->
							<div class="alert alert-danger alert-dismissible" role="alert"
								th:if="${not #strings.isEmpty(error)}">
								<button type="button" class="close" data-dismiss="alert"
									aria-label="Fechar">
									<span aria-hidden="true">&times;</span>
								</button>
								<span th:text="${error}"></span>
							</div>
							<!-- /.general-error-message -->
						</div>
						<div class="box-body">
							<div class="col-md-thumb pull-left" th:each="image : ${images}"
								th:classappend="${image.status == T(br.com.fatecmogidascruzes.marcador.web.model.Image.Status).REVISADA ? 'reviewed-image' : (image.status == T(br.com.fatecmogidascruzes.marcador.web.model.Image.Status).REVISAR ? 'review-image' : image.status == T(br.com.fatecmogidascruzes.marcador.web.model.Image.Status).VALIDADA ? 'validated-image' : 'neutral-image')}">
								<div class="thumbnail">
									<div class="image view view-first">
										<img style="width: 100%; display: block;"
											th:src="@{/download/} + ${image.id} + '?gallery=true'"
											alt="image" />
										<div class="mask">
											<p th:text="${image.description}">Descrição</p>
											<div class="tools tools-bottom">
												<a th:href="@{/galeria/marcar/} + ${image.id}"
													class="deleteAction"><i class="fa fa-object-group"></i></a>
												<a href="#" class="deleteAction" data-toggle="modal"
													data-target="#confirmDeletion"
													th:attr="data-server=${image.id}"
													th:if="${#authentication.getPrincipal().getUsername() == 'leandro.luque@gmail.com'}"><i
													class="fa fa-times"></i></a>
											</div>
										</div>
									</div>
									<div class="caption">
										<p>
											<span th:text="${image.howManyMarkings}"></span> objetos
											marcados.
										</p>
									</div>
								</div>
							</div>
							<div class="text-center" th:if="${images.empty}">Nenhuma
								imagem encontrada.</div>
						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
			<div class="text-center">
				<th:block th:each="i : ${#numbers.sequence(0, pages-1)}">
					<a th:href="@{/galeria} + '?page=' + ${i} + '&howMany=' + ${size}"
						th:text="${i+1}" th:if="${i != page}"></a>
					<strong th:text="${i+1}" th:if="${i == page}"></strong>
				</th:block>
			</div>
		</section>
		<!-- /.content -->
		<!-- change-description-modal -->
		<div id="changeDescription" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<form th:action="@{/galeria/alterar}" id="changeDescriptionForm"
						name="changeDescriptionForm">
						<input type="hidden" th:name="${_csrf.parameterName}"
							id="csrfForm" th:value="${_csrf.token}" />
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Alterar Descrição</h4>
						</div>
						<div class="modal-body">
							<input type="hidden" name="id" id="changeId" value="0" />
							<div class="row">
								<div class="form-group">
									<label for="description" class="col-sm-2 control-label">Descrição:</label>
									<div class="col-sm-10">
										<textarea class="form-control" id="description"
											name="description" placeholder="Descrição"></textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button id="btnYes" class="btn btn-primary" type="submit">Sim,
								quero alterar</button>
							<a href="#" data-dismiss="modal" aria-hidden="true"
								class="btn btn-default">Não</a>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- ./change-description-modal -->
		<!-- deletion-confirmation-modal -->
		<div id="confirmDeletion" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Confirmação</h4>
					</div>
					<div class="modal-body">
						<p>Você realmente deseja apagar a imagem da galeria?</p>
					</div>
					<div class="modal-footer">
						<form th:action="@{/galeria/excluir}" id="deletionForm"
							name="deletionForm">
							<input type="hidden" th:name="${_csrf.parameterName}"
								id="csrfForm" th:value="${_csrf.token}" /> <input type="hidden"
								name="id" id="deletionId" value="0" />
							<button id="btnYes" class="btn btn-danger" type="submit">Sim,
								desejo apagar</button>
						</form>
						<a href="#" data-dismiss="modal" aria-hidden="true"
							class="btn btn-default">Não</a>
					</div>
				</div>
			</div>
		</div>
		<!-- ./deletion-confirmation-modal -->
		<!-- upload-modal -->
		<div id="uploadModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Carregar Nova Imagem</h4>
					</div>
					<div class="modal-body">
						<div id="uploadArea" class="file-upload">
							<div>
								<span>Arraste e solte várias imagens aqui ou </span> <a
									class="file-upload-form-file"> selecione uma <input
									id="uploadSelect" type="file" accept=".jpg,.jpeg,.png,.gif" />
								</a>
							</div>
						</div>
						<div id="progressbar" class="uk-progress uk-hidden">
							<div class="uk-progress-bar" style="width: 0%;"></div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					</div>
				</div>
			</div>
		</div>
		<!-- ./upload-modal -->
	</div>
	<!-- /.content-wrapper -->
	<!-- page-scripts -->
	<th:block layout:fragment="script">
		<!-- DataTables -->
		<script
			src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
		<script
			src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
		<script th:src="@{/layout/plugins/uikit/js/uikit.min.js}"></script>
		<script th:src="@{/layout/plugins/uikit/js/upload.min.js}"></script>
		<script th:src="@{/layout/javascripts/gallery-upload.js}"></script>
	</th:block>
	<!-- ./page-scripts -->
</body>
</html>
