<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default-layout">
<head>
<meta name="_image_id" th:content="${id}" />
<title>Image Object Marker</title>
<link rel="stylesheet"
	th:href="@{/layout/plugins/bootstrap-toggle/bootstrap-toggle.min.css}" />
<link rel="stylesheet" th:href="@{/layout/stylesheets/objectMarker.css}" />
</head>
<body>
	<div layout:fragment="content">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>Marcação de Frutos em Imagens</h1>
			<h2>Esta imagem está: <span th:text="${image.status == T(br.com.fatecmogidascruzes.marcador.web.model.Image.Status).REVISADA ? 'REVISADA' : (image.status == T(br.com.fatecmogidascruzes.marcador.web.model.Image.Status).REVISAR ? 'A REVISAR!' : image.status == T(br.com.fatecmogidascruzes.marcador.web.model.Image.Status).VALIDADA ? 'VALIDADA :)' : 'SEM STATUS')}"></span></h2>
			<em>Instruções:</em>
			<p>Clique em uma posição da imagem (à esquerda) e marque os
				frutos no 'Painel de Marcação de Frutos'.</p>
			<a th:href="@{/galeria/marcarRevisada/} + ${id}"
				class="btn btn-info"><i class="fa fa-thumbs-up"></i> Marcar como Revisada</a> <a
				th:href="@{/galeria/marcarRevisar/} + ${id}"
				th:if="${#authentication.getPrincipal().getUsername() == 'leandro.luque@gmail.com'}"
				class="btn btn-info"><i class="fa fa-retweet"></i> Marcar para Revisar</a> <a
				th:href="@{/galeria/marcarValidada/} + ${id}"
				th:if="${#authentication.getPrincipal().getUsername() == 'leandro.luque@gmail.com'}"
				class="btn btn-info"><i class="fa fa-flag-checkered"></i> Marcar como Validada</a>
		</section>
		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-md-7">
					<div class="panel panel-default">
						<div class="panel-heading clearfix">
							<div class="panel-title pull-left">Imagem</div>
							<div class="input-group pull-right">
								<div>
									<label> <input type="checkbox" id="type1"
										name="type1object" value="type1-object" checked
										onclick="toggleObjectsMarkingVisibility(this)" /> Fruto
										Maduro
									</label> <label> <input type="checkbox" id="type2"
										name="type2object" value="type2-object" checked
										onclick="toggleObjectsMarkingVisibility(this)"> Fruto
										Verde
									</label>
								</div>
							</div>
						</div>
						<div class="panel-body" id="originalImagePanel">
							<img id="drawnImage"
								th:src="@{/download/} + ${id} + '?gallery=false'"
								th:data-zoom-image="@{/download/} + ${id}" />
						</div>
					</div>
				</div>
				<div class="col-md-5">
					<div class="panel panel-default">
						<div class="panel-heading clearfix">
							<div class="panel-title pull-left">Painel de Marcação de
								Frutos</div>
							<div class="button-group pull-right">
								<button type="button" class="toolbar-buttons"
									onclick="toggleMarkingRectangleVisibility()"
									title="Alterna a visibilidade do retângulo de marcação de frutos.">
									<i id="toggleMarkingRectangleVisibility"
										class="fa fa-eye-slash"></i>
								</button>
								<button type="button" class="toolbar-buttons"
									onclick="editMarkingRectangle()"
									title="Habilita a edição dos frutos visíveis.">
									<i class="fa fa-pencil"></i>
								</button>
								<button type="button" class="toolbar-buttons"
									onclick="deleteSelectedObjectMarkings()"
									title="Apaga os frutos marcados.">
									<i class="fa fa-trash"></i>
								</button>
							</div>
						</div>
						<div class="panel-body" id="markingPanel">
							<div id="imageContainer" class="resize-container">
								<div class="resize-drag" id="markingRectangle"></div>
								<div id="imageForMarking"
									th:style="'background: black url(' + @{/download/} + ${id} + ') no-repeat top left;'"></div>
								<!--      -->
							</div>
						</div>
						<div class="panel-footer">
							<div class="row">
								<div class="col-md-6">
									<input type="checkbox" id="objectType" name="objectType"
										class="input-block-level" />
								</div>
								<div class="col-md-6">
									<button type="submit" id="add"
										class="btn btn-default btn-block" onclick="addObjectMarking()">
										<i class="fa fa-plus-circle"></i> Adicionar
									</button>
									<button type="submit" id="update"
										class="btn btn-default btn-block dont-display"
										onclick="updateMarkings()">
										<i class="fa fa-save"></i> Atualizar
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- /.content-wrapper -->
	<th:block layout:fragment="script">
		<!-- ElevateZoom -->
		<!-- OBS: Esta biblioteca foi modificada por Leandro Luque, pois o evento the clique name
        imagem não retornava as propriedades clientX nem clientY. Atualmente a biblioteca
        trata automaticamente este evento e executa a função callback, passando a
        posição clientX e clientY por parâmetro. -->
		<script
			th:src="@{/layout/plugins/elevate-zoom/jquery.elevateZoom-3.0.8.min.js}"></script>
		<!-- The default margin value was changed to allow dragging small elements (otherwise, only
		     the resizing option would be available - Changed from 20:10 to 7:3 -->
		<script th:src="@{/layout/plugins/interact/interact.min.js}"></script>
		<script
			th:src="@{/layout/plugins/bootstrap-toggle/bootstrap-toggle.min.js}"></script>
		<script th:src="@{/layout/javascripts/objectMarker.js}"></script>
		<script th:inline="javascript">
		/*<![CDATA[*/
			$(window).load(function(){
				// Update the id sequence.
				idSequence = [[${initialSequence}]];
				
				// Draw the image markings.
				markingsFromServer = [[${markings}]];
			    for(let i = 0; i < markingsFromServer.length; i++) {
			    	let marking = markingsFromServer[i]; 
			    	let iDiv = generateDivForMarkingObject(marking.x1, marking.y1, marking.width, marking.height, 'drawn-image', marking.divId, true, marking.type);
					markedObjects[iDiv.id] = iDiv;
					originalImagePanel.insertBefore(iDiv, originalImagePanel.childNodes[0]);			
					showMarkedObjectsOnMarkingPanel(clickedX, clickedY, true);
			    }
			});

		/*]]>*/
		</script>
	</th:block>
</body>
</html>