<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default-layout"
>
<head>
<title>Erro 404</title>
</head>
<body>
    <!-- Content Wrapper. Contains page content -->
    <div layout:fragment="content">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Página de Erro 404</h1>
            <ol class="breadcrumb">
                <li class="active">Erro 404</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="error-page">
                <h2 class="headline text-yellow">404</h2>
                <div class="error-content">
                    <h3>
                        <i class="fa fa-warning text-yellow"></i> Oops! Página não encontrada.
                    </h3>
                    <p>
                        Não encontramos a página que você procura. Você pode <a th:href="@{/resumo}">visitar a
                            página de resumo</a>.
                    </p>
                    <!-- /.error-content -->
                </div>
                <!-- /.error-page -->
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</body>
</html>
